#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--quaternary-color);
  height: 400px;
  color: white;
}

#contact-section .container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#contact-section h2 {
  margin: .5rem 0;
}

#contact-section button {
  margin-bottom: 1rem;
}
