#navbar {
  background-color: var(--secondary-color);
  border-bottom: solid .5px black;
}

#navbar > span {
  font-family: var(--primary-font);
}

#contact-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 192px;
}

.contact-item {
  list-style-type: none;
}

.contact-item > button {
  padding: .4rem .7rem;
  border-radius: 5rem;
}

.contact-item > button:hover {
  filter: invert(100%);
}

#file-icon {
  padding: 0 .05rem;
}

#contact-list .navbar-toggler {
  display: none;
  background-color: var(--primary-color);
  opacity: .5;
}

@media all and (max-width: 65em) {

  #contact-list {
    width: 250px;
  }

  #contact-list .navbar-toggler {
    display: unset;
  }

}
