#navbar {
  background-color: var(--secondary-color);
}

#navbar > span {
  font-family: var(--primary-font);
}

#contact-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 .5vw;
  padding: 0;
  width: 192px;
}

.contact-item {
  list-style-type: none;
}

.contact-item > button {
  padding: .4rem .7rem;
  border-radius: 5rem;
}

#file-icon {
  padding: 0 .05rem;
}
