#portfolio-section {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio-section > .container {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 91vh;
}

#portfolio-section .container > h2 {
  text-align: center;
}

#portfolio-banner {
  background-color: var(--secondary-color);
  height: 66vh;
  width: 60vw;
  margin-bottom: 5vh;
  box-shadow: 2px 2px 2px 2px rgba(46, 43, 55, 0.575);
}

#portfolio-banner .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#portfolio-banner img {
  margin-top: 4.5vh;
  width: 48vw;
  padding: 0 2vw;
}

#portfolio-banner > a {
  position: absolute;
  top: 27vh;
  padding: 1em 1.5em;
  border-radius: 5em;
  opacity: .5;
}

#portfolio-banner > a:hover {
  background: var(--quaternary-color);
  opacity: 1;
}

#portfolio-banner > a:first-of-type {
  left: 2vw;
}

#portfolio-banner > a:last-of-type {
  right: 2vw;
}

#portfolio-banner > a > span {
  margin-top: 7.5px;
}

#portfolio-section .portfolio-caption {
  margin-top: 2.5vh;
  color: var(--primary-color);
}

#portfolio-section .portfolio-caption > p {
  margin: 0;
}

#portfolio-section .carousel-inner {
  min-height: 500px;
}

#portfolio-section .carousel-indicators {
  bottom: 5px;
}

#portfolio-section .carousel-indicators > li {
  height: 10px;
  width: 10px;
  border-radius: 5em;
  margin: 0 10px;
}

@media all and (max-width: 100em) {

  #portfolio-banner > a {
    top: 20vh;
  }

  #portfolio-section > .container {
    height: 82vh;
  }

}

@media all and (max-width: 90em) {

  #portfolio-banner > a:first-of-type {
    left: 1.5vw;
  }

  #portfolio-banner > a:last-of-type {
    right: 1.5vw;
  }

}

@media all and (max-width: 80em) {

  #portfolio-banner {
    height: 50vh;
  }

  #portfolio-section > .container {
    height: 75vh;
  }

  #portfolio-banner > a:first-of-type {
    left: -12vw;
  }

  #portfolio-banner > a:last-of-type {
    right: -12vw;
  }

  #portfolio-banner > a {
    background-color: var(--primary-color);
  }

}

@media all and (max-width: 70em) {

  #portfolio-banner > a:first-of-type {
    left: -13vw;
  }

  #portfolio-banner > a:last-of-type {
    right: -13vw;
  }

}

@media all and (max-width: 60em) {

  #portfolio-section h2 {
    padding-bottom: 2vh;
  }

  #portfolio-section > .container {
    height: 60vh;
  }

  #portfolio-banner > a:first-of-type {
    left: -14vw;
  }

  #portfolio-banner > a:last-of-type {
    right: -14vw;
  }

}

@media all and (max-width: 50em) {

  #portfolio-section > .container {
    height: 50vh;
  }

  #portfolio-banner > a:first-of-type {
    left: -16vw;
  }

  #portfolio-banner > a:last-of-type {
    right: -16vw;
  }

  #portfolio-banner {
    height: 50vh;
  }

}

@media all and (max-width: 40em) {

  #portfolio-section > .container {
    height: 48vh;
  }

  #portfolio-banner > a:first-of-type {
    display: none;
  }

  #portfolio-banner > a:last-of-type {
    display: none;
  }

  #portfolio-banner {
    width: 80vw;
  }

  #portfolio-section .carousel-indicators > li {
    height: 35px;
    width: 35px;
  }

}
