#portfolio-section {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio-section > .container {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 88vh;
}

#portfolio-section .container > h2 {
  text-align: center;
}

#portfolio-banner {
  background-color: var(--secondary-color);
  height: 70vh;
  width: 83vw;
  box-shadow: 2px 2px 2px 2px rgba(46, 43, 55, 0.575);
}

#portfolio-banner .container {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#portfolio-banner img {
  margin-top: 5vh;
  width: 48vw;
}

#portfolio-banner > a {
  position: absolute;
  top: 40%;
  padding: 1.6em 2em;
  border-radius: 5em;
  opacity: .5;
}

#portfolio-banner > a:hover {
  background: var(--quaternary-color);
  opacity: 1;
}

#portfolio-banner > a:first-of-type {
  left: 5%;
}

#portfolio-banner > a:last-of-type {
  left: 90%;
}

#portfolio-banner > a > span {
  margin-top: 7.5px;
}

.portfolio-caption {
  margin-top: 2.5vh;
  color: var(--primary-color);
}
