#profile-section {
  height: auto;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1) 10px,
    rgba(0, 0, 0, 0.2) 10px,
    rgba(0, 0, 0, 0.2) 20px
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#profile-section .container {
  flex-direction: row;
  justify-content: space-between;
}

#profile-section .wrapper {
  flex-direction: row;
  width: 80vw;
}

#profile-section article {
  padding-top: 10vh;
}

#profile-section .wrapper:last-of-type article {
  padding-bottom: 10vh;
}

#profile-section aside {
  width: 900px;
  box-shadow: 1px 1px 1px 1px rgba(46, 43, 55, 0.575);
}

#profile-section header {
  font-size: 1.5em;
  background-color: white;
  height: 2em;
  padding: 5px 10px;
  box-shadow: 1px 1px 1px 1px rgba(46, 43, 55, 0.575);
  border-radius: 5px;
  width: 5.7em;
}

#profile-section .wrapper:last-of-type header {
  width: 5.3em;
}

#profile-section p {
  margin: 0 5%;
}

#profile-section .card {
  border: none;
}

@media all and (max-width: 80em) {

  #profile-section .container {
    flex-direction: column;
  }

  #profile-section header {
    margin-bottom: 2vh;
    padding-bottom: 2vh;
  }

  #profile-section aside {
    width: 80vw;
  }

}

@media all and (max-width: 65em) {

  #profile-section .container {
    align-items: center;
  }

  #profile-section h4 {
    text-align: center;
  }

}
