#technology-section {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#technology-section .container {
  margin-top: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#technology-section .container > p {
  margin: 2vh 0 0 0;
}

#technology-list {
  padding: 0;
  margin: 2vh 0 0 0;
  display: grid;
  height: 70vh;
  width: 70vw;
  grid-template-columns: repeat(6, 1fr);
}

.technology-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.technology-item > i {
  font-size: 5em;
}
