#technology-section {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#technology-section .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#technology-section .container > p {
  margin: 1.5vh 0 0 0;
}

#technology-list {
  padding: 0;
  margin: 1.5vh 0 0 0;
  display: grid;
  height: 70vh;
  width: 70vw;
  grid-template-columns: repeat(6, 1fr);
}

.technology-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.technology-item > i {
  font-size: 5em;
}

@media all and (max-width: 80em) {
  #technology-list {
    grid-template-columns: repeat(5, 1fr);
    overflow: scroll;
    grid-row-gap: 1em;
  }
}

@media all and (max-width: 70em) {
  #technology-list {
    padding-top: 1em;
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll;
    grid-row-gap: 2em;
  }
}

@media all and (max-width: 60em) {
  #technology-list {
    padding-top: 2em;
    grid-template-columns: repeat(3, 1fr);
    overflow: scroll;
    grid-row-gap: 3em;
  }
}

@media all and (max-width: 50em) {
  #technology-list {
    padding-top: 3em;
    grid-template-columns: repeat(2, 1fr);
    overflow: scroll;
    grid-row-gap: 4em;
  }
}
